<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar id="dark">
    <ion-title class="dark">Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
	<ion-card-content>
	  <div class="location">{{name}}</div>
      <img class="main-image"src={{url}}>
      <div class="coordinate">Latitude: {{latitude}} </div>
	  <div class="coordinate">Longitude: {{longitude}} </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let photo of photos">

	<ion-card-content>
	  <span>
	    <div class="date">{{photo.date.monthValue}}/{{photo.date.dayOfMonth}}</div>
	    <div class="timestamp">{{photo.timestamp.hour}}:{{photo.timestamp.minute}}:{{photo.timestamp.second}}</div>
	  </span>
    </ion-card-content>

	<ion-card-content *ngFor="let result of photo.results">
	  <span>
	    <div> {{result.tags}} </div>
	  </span>
    </ion-card-content>

  </ion-card>

   

</ion-content>
