/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: black;
  color: white;
}

.mat-dialog-container {
  width: 200em !important;
}

.md-dialog-container {
  position: absolute !important;
}

md-dialog {
  max-width: 90% !important;
  max-height: 90% !important;
}
